h1 {
    margin: 0;
}

.add {
    cursor: pointer;
}

.add:hover {
    transform: scale(1.5);
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.edited-image {
    width: 100px;
}

.id {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.green {
    color: #69f0ae;
}

section {
    width: 100%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
}

textarea {
    display: block;
    overflow: auto;
    resize: both;
    min-height: 100px;
    line-height: 20px;
}

.option-icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dn {
    display: none;
}

@media screen and (max-width: 1023px) {

    .id {
        flex-wrap: wrap;
    }

    h1 {
        font-size: 12px;
    }

    h2 {
        font-size: 12px;
    }

    section {
        flex-direction: column;
        justify-content: flex-start;
    }

    .buttons {
        margin-top: 20px;
        width: 80%;
    }


}