section {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.select-category {
    width: 90%;
    display: flex;
    align-items: center;
}

.arrow {
    color: #7b1fa2;
}

.hide {
    text-decoration-line: line-through;
    color: red;
}

.button-span {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.demo {
    width: 90%;
    border:1px solid #7b1fa2;
    border-collapse:collapse;
    padding:5px;
    text-align: center;
    font-weight: normal;
}
.demo th {
    border:1px solid #7b1fa2;
    padding:5px;
    color: #69f0ae;
    /* background:#69f0ae; */
}
.demo td {
    border:1px solid #7b1fa2;
    padding:5px;
}

.position {
    max-width: 5px;
}

.hide-icon {
    color: red;
}

.no-hide-icon {
    color: #69f0ae;
}

.edit {
    cursor: pointer;
    font-size: 16px;
}

.edit:hover {
    color: #69f0ae;
}


.add {
    cursor: pointer;
}

.add:hover {
    color: #69f0ae;
}

@media screen and (max-width: 1023px) {
    .select-category {
        flex-direction: column;
        align-items: flex-start;
    }

    .position {
        display: none;
    }

    .demo td {
        font-size: 10px;
    }

    .dn {
        display: none;
    }

    h1 {
        font-size: 12px;
    }
}